
body{
  /*background-color: rgb(28, 28, 30);
  color: rgb(240,240,200);*/
    background-image: url('images/bgnew.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

form
{
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 25%;
}

pre
{
  margin-right: 8%;
  margin-left: 8%;
}
h1 {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align:center;
}

p {
  margin-right: 5%;
  margin-left: 5%;
}


ol{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 4%;
  margin-left: 4%;
}

