<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Generator</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" defer />
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <body>
        <div class="wrapper">
            <div class="wrap">
                <!--Navigation-->
        <nav class="navbar">
            <div class="container">
                <h1>Fashion Generator</h1>
                <div class="burger">
                    <i class="fas fa-bars" id="menuIcon" onclick="mobileMenu()"></i>
                </div>
            </div>
        </nav>

    <!--Showcase section-->
    <section class="section-a">
        <div class="container">
            <div>
                <h1>The Fashion Generator</h1>
                <p>Elevate Every Outfit: Unleash The Fashion Generator's AI Magic for a Personalized Touch of Elegance.<br></p>
                <a href="/index" class="btn">Try Now <i class="fas fa-arrow-right"></i></a>
            </div>
            <img src="./images/pace.png" alt="">
        </div>
    </section>

    <!-- Overlay section-->
    <section class="section-b">
        <div class="overlay">
            <div class="section-b-inner">
                <h3>Personalized Style</h3>
                <h2>With AI analyzing your preferences and style choices.</h2>
                <p>Stay ahead of the fashion curve.</p>
            </div>
        </div>
    </section>

    <!--Gallery-->
    <section class="section-c">
        <div class="gallery">
            <a href="/static/images/introbg2.png"
                class="big">
                <img src="/static/images/introbg9.png"
                    alt=""/>
            </a>
            <a href="/static/images/introbg2.png" class="big">
                <img src="/static/images/introbg2.png" alt=""/>
            </a>
            <a href="/static/images/introbg8.png" class="big">
                <img src="/static/images/introbg8.png" alt="" />
            </a>
            <a href="/static/images/introbg6.png"
                class="big">
                <img src="/static/images/introbg6.png"
                    alt="" />
            </a>
            <a href="./images/headphone-2.jpg"
                class="big">
                <img src="/static/images/introbg3.png"
                    alt="" />
            </a>
            <a href="/static/images/introbg3.png"
                class="big">
                <img src="/static/images/introbg7.png"
                    alt="" />
            </a>
        </div>
    </section>

    <!-- Features -->
    <section class="features">
        <div class="container">
            <div class="feature">
                
                <h3>Personalized Style: </h3>
                <p>The Fashion Generator uses AI to curate looks matching your style, reflecting your unique persona.</p>
            </div>
            <div class="feature">
                
                <h3>Trend Insights: </h3>
                <p> Stay stylish with trend updates from The Fashion Generator, always one step ahead.</p>
            </div>
            <div class="feature">
                
                <h3>Infinite Creativity: </h3>
                <p>The Fashion Generator's AI-driven designs offer endless fashion creativity.</p>
            </div>
        </div>
    </section>
    <!-- End Features -->
</div>
    <!-- Footer-->
    <footer class="section-footer">
        <div class="container">
            <div>
                <h2>Flipkart GRiD 5.0</h2>
                <p>Gen AI for Fashion Suggestions</p>
            </div>


            <div>
                <h3>Team BRO CODe:</h3>
                <ul>
                    <li><a href="#">Ayush</a></li>
                    <li><a href="#">Nikhil Chandram</a></li>
                    <li><a href="#">Ayush Chandram</a></li>
                </ul>
            </div>

           
        </div>
    </footer>
        <script src="./script.js"></script>
    </body>
</body>
</html>