{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div style="display: flex;">
    <div style="flex: 1; overflow-y: auto; max-height: 80vh; padding-right: 20px; direction: rtl;">
        <div style="background-color: #f7f7f7; padding: 20px; border-radius: 10px;">
            <h2 style="margin-bottom: 10px;">Recent Entries</h2>
            {% for entry in entries %}
                <div style="border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px; white-space: nowrap;direction: ltr;">
                    {{ entry }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div style="flex: 2;">
        <h1 style="font-size: 300%; font-style: normal; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Welcome to Fashion Generator.
        </h1>
        <form method="post">
            <fieldset>
                <div class="form-group">
                    <input autocomplete="off" style="background-color: rgb(253, 254, 255); color: rgb(0, 0, 0);" autofocus class="form-control" name="Entry" placeholder="Start Typing" type="text"/>
                </div>
            </fieldset>
        </form>
        <div class="form-group">
            <button class="btn btn-default" style="font-size: 200%;" type="submit">Submit</button>
        </div>
    </div>
</div>
{% endblock %}
