

{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h1 style="font-size: 300%; font-style: normal; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
Welcome to Fashion Generator. <br>
</h1>
<ol style="text-align: left;font-size: 150%;">
     Check
</ol>
<div class="form-group">
    <button type="submit" style="font-size: 200%; background-color: rgb(30,30,30);" class="nav-item"><a class="nav-link" style="color: beige;" href="/start">Let's Begin</a></button>
</div>
{% endblock %}