{% extends "layout.html" %}

{% block title %}
    Liking
{% endblock %}

{% block main %}

<div style="max-height: 70vh; overflow-y: auto;">
    <h1 style="font-size: 24px;">Top Flipkart Products</h1>
    <div id="products-container" style="display: flex; flex-wrap: wrap;"></div>
</div>
<style>
    .product-item {
        text-decoration: none;
        color: inherit; /* Inherit the parent element's color */
        cursor: pointer; 
        flex-basis: 33.33%;
        padding: 15px 10px; /* Increased padding in height, while keeping 10px horizontal padding */
        box-sizing: border-box;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, padding 0.2s ease-in-out;
    }

    .product-item:hover {
        text-decoration: none; /* Remove underline on hover */
        transform: scale(1.05); /* Slightly reduce scaling */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 0px 0px; /* Adjust padding for hover effect */
    }

    .product-title {
        margin-top: 10px;
        margin-bottom: 5px; /* Reduced margin for more space */
        font-size: 18px;
        transition: margin 0.2s ease-in-out, padding 0.2s ease-in-out; /* Add transition for margin and padding changes */
    }
</style>

<script>
    const productsContainer = document.getElementById('products-container');

    const productDetails = [
        {% for details in liking_details %}
            {
                title: "{{ details.title }}",
                price: "{{ details.price }}",
                image: "{{ details.image }}",
                link: "{{ details.link }}"
            },
        {% endfor %}
    ];

    productDetails.forEach(details => {
        const productItem = document.createElement('a'); // Change to anchor element
        productItem.href = details.link;
        productItem.className = 'product-item';
        productItem.target = '_blank'; // Open link in a new tab

        const productTitle = document.createElement('h2');
        productTitle.className = 'product-title';
        productTitle.textContent = details.title;

        const productPrice = document.createElement('p');
        productPrice.textContent = `Price: ${details.price}`;

        const productImage = document.createElement('img');
        productImage.src = details.image;
        productImage.alt = details.title;
        productImage.style.width = '85%'; // Set a fixed width
        productImage.style.height = '65%'; // Set a fixed height

        productItem.appendChild(productTitle);
        productItem.appendChild(productPrice);
        productItem.appendChild(productImage);
        productsContainer.appendChild(productItem);
    });
</script>
{% endblock %}