{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <div class="form">
      <form class="form-horizontal signin" method="post" action="/login">
        <div class="form-wrap" style="position: relative">
          
          <h2>Login for Personalized Recommendations</h2>
          <div class="form-group">
            <!-- <label for="email">Username:</label> -->
            <div class="relative">
              <input
                class="form-control"
                type="text"
                name="username"
                id="username"
                autofocus
                placeholder="Username"
              />
              <i class="fa fa-user"></i>
            </div>
          </div>

          <div class="form-group">
            <!-- <label for="email">Password:</label> -->
            <div class="relative">
              <input
                class="form-control"
                type="password"
                name ="password"
                id="password"
                
                placeholder="Password"
              />
              <i class="fa fa-key"></i>
            </div>
    
          </div>
          <div class="login-btn">
            <a >
              <button class="movebtn movebtnsu" type="Submit" >
                login <i class="fa fa-fw fa-lock"></i></button>
            </a>
        </div>
        <div class="sign-up">
          <a href="register" class="signbtn"
            ><small>Not a member? Sign Up </small></a
          >
        </div>
      </form>
    </div>
  </body>
</html>


{% endblock %}