{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<div class="form">
  <form class="form-horizontal signin" method="post">
    <div class="form-wrap" style="position: relative">
      <h2>Register for Personalized Recommendations</h2>
      <div class="form-group">
        <div class="relative">
          <input class="form-control" id="name" type="text" name="name" autofocus placeholder="Name" />
          <i class="fa fa-user"></i>
        </div>
      </div>
      <div class="form-group">
        <div class="relative">
          <input class="form-control" id="username" type="text" name="username" autofocus placeholder="Username" />
          <i class="fa fa-user"></i>
        </div>
      </div>
      <div class="form-group">
        <div class="relative">
          <select class="form-control" id="gender" name="gender">
            <option value="none">Select your gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="relative">
          <input class="form-control" id="age" type="number" name="age" placeholder="Age" />
          <i class="fa fa-user"></i>
        </div>
      </div>
      <div class="form-group">
        <div class="relative">
          <input class="form-control" id="password" type="password" name="password" placeholder="Password" />
          <i class="fa fa-key"></i>
        </div>
      </div>
      <div class="form-group">
        <div class="relative">
          <input class="form-control" id="confirmation" type="password" name="confirmation" placeholder="Password Confirmation" />
          <i class="fa fa-key"></i>
        </div>
      </div>
      <div class="login-btn">
        <button class="movebtn movebtnsu" type="submit">Register <i class="fa fa-fw fa-lock"></i></button>
      </div>
      <div class="sign-up">
        <a href="/login" class="signbtn"><small>Already a member? Log In</small></a>
      </div>
    </div>
  </form>
</div>


{% endblock %}
